# Data Structure in Python

Helps in organising and storing data components efficiently
- multiple inbuilt datstructures are there in python
- different structures in python - list ,tuples, arrays, queues ,stacks ,graphs , dictionaries 

- main focus on lists,dictionaries

## Lists

- Present in the ordered form
- All the items in the lists are MUTABLE( can be changed)
- [ ] brackets are used to create lists 
 - items can be of any datatype
 - output is always presented as a list.
 
 REALWORLD EXAMPLE
 
 *shopping cart
 
 *To do lists
 
 *Append lists

In [3]:
# Creat a list

fruits = ['apple',1, 'banana', 2, 'Kiwi', 3]
print(fruits)

[' apple', 1, 'banana', 2, 'Kiwi', 3]

In [5]:
# Accessing the element using lists
# 6 elements and indexing is from 0 to 5.

print(fruits[2])

banana

In [14]:
# SLICING 
# list[ inclusive : exclusive :step]
print(fruits)
print(fruits[1 :4])
print(fruits[ : 4])

print(fruits[1: ])
list1 =[1,3,5]
#print(fruits[[1,3,5]])
# list comprehension
#print(fruits[])

[' apple', 1, 'banana', 2, 'Kiwi', 3]
[1, 'banana', 2]
[' apple', 1, 'banana', 2]
[1, 'banana', 2, 'Kiwi', 3]

In [16]:
# Modifying the lists 
fruits[4] ='Cherry'
print(fruits)

[' apple', 1, 'banana', 2, 'Cherry', 3]

In [19]:
#Reversing the list

fruits.reverse()
print(fruits)

[3, 'Cherry', 2, 'banana', 1, ' apple']

In [20]:
fruits

[3, 'Cherry', 2, 'banana', 1, ' apple']

In [23]:
# Reversing the list
revers_list = fruits[ : : -1]
print(revers_list)

[' apple', 1, 'banana', 2, 'Cherry', 3]

In [24]:
list1 =[1,3,5]
print(fruits[list1])

TypeError: list indices must be integers or slices, not list

In [25]:
fruits[ : : -2]

[' apple', 'banana', 'Cherry']

In [26]:
fruits

[3, 'Cherry', 2, 'banana', 1, ' apple']

In [27]:
fruits[ : : -2]

[' apple', 'banana', 'Cherry']

In [28]:
fruits[ : : -1]

[' apple', 1, 'banana', 2, 'Cherry', 3]

#  Tuples 
theu are unmutable : you cannot change any element in a tuple 

can only acces the elements


round brackets are used ()

heterogenous elements are stored.

REALTIME EXAMPLES WHERE TUPLES CAN BE USED 

Tuples can be best used when storing the geographical coordinates like Latitude and Longitude.

Database queries ,we can use tuples

For colour scheme eg:(Red,0),(Green,1)

In [31]:
#Creating a tuple
my_tuple = (1,2,3,4,5)

#Accessing elements
print(my_tuple[0])

#Tuples are immutable 
# my_tuple[0] = 10 # throws an error as you are trying to change the item of a tuple .b/c tuple is immutable.

#Slicing
print(my_tuple[1:4])

1
(2, 3, 4)

# Dictionaries

* can be created using {key: [values]}

* they are mutable.

*Keys are unique and values can be duplicated

In [34]:
#Creating a dictionary

my_dict = {'Name' : 'Priya', 'Age':41, 'City':'London'}

print(my_dict)

#Accessing values
print(my_dict['Name'])

#Adding Key value pairs

my_dict['email'] = 'priyask@gmail.com'

print(my_dict)

#Removing key-value pairs
del my_dict['email']

print(my_dict)

{'Name': 'Priya', 'Age': 41, 'City': 'London'}
Priya
{'Name': 'Priya', 'Age': 41, 'City': 'London', 'email': 'priyask@gmail.com'}
{'Name': 'Priya', 'Age': 41, 'City': 'London'}

## Sets -

*unordered colection of elements.

*{} used to create sets 

*no elements can be repeated.

*they are mutable

*no indexing in sets 

REALTIME SCENARIOS

Social media analysis

Dataset is having any duplicated values

In the marketing department - email marketing , basically manges the subscriber list 

website analytics can be used.

In [46]:
# Creating a set
my_set = {1,2,3,4,5}

#Adding elements
my_set.add(6)
print(my_set)

my_set.remove(3)
print('\nmy_set')
print(my_set)


#Set operations
another_set = {4,5,6,7,8}
print('\nanother set')
print(another_set)

print('\nSet operations')
print(my_set & another_set) #intersection
print(my_set | another_set) # union
print(my_set - another_set) #difference {1,2}

{1, 2, 3, 4, 5, 6}

my_set
{1, 2, 4, 5, 6}

another set
{4, 5, 6, 7, 8}

Set operations
{4, 5, 6}
{1, 2, 4, 5, 6, 7, 8}
{1, 2}

In [53]:
#How can you convert a list of tuples into a dictioanry in a Python ?

list_of_tuples =[('name', 'Alice'),('Age',25),('City','New York')]

print(list_of_tuples)
my_dict =dict(list_of_tuples)
print(my_dict)

students =[('Alice',(56,25.65))]
dict(students)

[('name', 'Alice'), ('Age', 25), ('City', 'New York')]
{'name': 'Alice', 'Age': 25, 'City': 'New York'}

{'Alice': (56, 25.65)}

In [52]:
#How can you merge two dictionaries in Python ?

dict1 ={ 'name':'Alice','Age':25}
dict2 ={'City':'New York','email': 'alice@gmail.com'}

print(dict1)
print(dict2)

#using update()

dict1.update(dict2)
print(dict1)

#using dictionary unpacking(Python 3.5+)

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'name': 'Alice', 'Age': 25}
{'City': 'New York', 'email': 'alice@gmail.com'}
{'name': 'Alice', 'Age': 25, 'City': 'New York', 'email': 'alice@gmail.com'}

In [ ]:
#What are the main differences between lists and tuples in Python.

In [58]:
#How can you sort a list in Python ?
my_list = [ 3,1,5,2,7,2,0,1]

list2 =[3,5,2,8,3,9,0]

my_list.sort()
print(my_list)
my_list.sort(reverse = True)
print(my_list)

#using sorted function
sorted_list = sorted(list2)
print(sorted_list)



#

[0, 1, 1, 2, 2, 3, 5, 7]
[7, 5, 3, 2, 2, 1, 1, 0]
[0, 2, 3, 3, 5, 8, 9]

#sort functions cannot be used ditrectly in tuples , Convert the tuple in the list

In [59]:
#How can you concatenate two tuples in  Python

tuple1 =(1,2,3)

tuple2 = (4,5,6)
concat_tuple = tuple1 + tuple2
print(concat_tuple)

(1, 2, 3, 4, 5, 6)