# Data Types - bool,int,float,str

In [3]:
a = 'Data Science'
print('The text is :')
print(a)
print('\n')
print('The data type is :')
type(a)

The text is :
Data Science


The data type is :

str

In [4]:
z = True
type(z)

bool

In [5]:
True + 6+7.5

#1+6+7.5

14.5

In [6]:
int(7.5) + 3

10

In [7]:
bool(0)

False

In [8]:
#Auto Typecasting

True + 3 + int(4.5)

# 1 + 3+ 4

8

In [10]:
a = 3
b= 4.5
print('Datatype of a:')
print(type(a))
print('Datatype of b')
print(type(b))

Datatype of a:
<class 'int'>
Datatype of b
<class 'float'>

In [11]:
a + int(b)

7

In [12]:
3 + int('4')

7

In [14]:
#True = 1, False = 0

False + 4

4

## 1. We can convert any type to int except complex type
## 2. If we want to convert the str type to int type,str shoyld contain only integral value and should be specified in base of 10

In [23]:
 a= int('100000000')
print(a)

100000000

In [24]:
int(123.987)

123

In [25]:
int(10+5j)

TypeError: can't convert complex to int

In [26]:
int(True)

1

In [27]:
int(False)

0

In [28]:
int('10')

10

In [29]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [30]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [31]:
int('0B1111')

ValueError: invalid literal for int() with base 10: '0B1111'

In [32]:
float(10)

10.0

In [33]:
float(10+5j)

TypeError: can't convert complex to float

In [34]:
float(True)

1.0

In [35]:
float(False)

0.0

In [36]:
float('10')

10.0

In [37]:
float('10.5')

10.5

In [38]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [39]:
float('0B111')

ValueError: could not convert string to float: '0B111'

In [40]:
bool(0)

False

In [41]:
bool(1)

True

In [42]:
bool(10)

True

In [43]:
bool(10.5)

True

In [44]:
bool(0.178)

True

In [45]:
bool(0.0)

False

In [46]:
bool(10-2j)

True

In [47]:
bool(0+1.5j)

True

In [48]:
bool(0+0j)

False

In [49]:
bool('True')

True

In [50]:
bool('False')

True

In [51]:
bool('')

False

# Slicing

In [53]:
 a = 'I am a Data Scientist'
    
print(a)

I am a Data Scientist

In [54]:
a[2:4]

'am'

In [55]:
a[-9: ]

'Scientist'

In [56]:
a[7:]

'Data Scientist'

In [57]:
a[ : 7]

'I am a '

In [64]:
my_list = [1,2,3,4,5,6,7,8,9,10]

slice_1 = my_list[2:6]
print(slice_1)


slice_2 = my_list[1:]
print(slice_2)

slice_3 = my_list[ : 5]
print(slice_3)

slice_4 = my_list[ : : 2]
print(slice_4)

[3, 4, 5, 6]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]

   H  e  l   l   o ,   W  o  r  l   d
   
   0  1 2 3 4 5 6 7 8 9 10 11

In [70]:
#Slicing a string

my_string = 'Hello, World!'

slice_5 = my_string[7:]
print(slice_5)

slice_6 = my_string[:5]
print(slice_6)

#Get a slice of the string with a step size of 2

slice_7 = my_string[ : : 2]
print(slice_7)

World!
Hello
Hlo ol!

In [75]:
#Slicing with Neagtive Indices

my_list = [1,2,3,4,5,6,7,8,9,10]

slice_8 = my_list[-2: ]
print(slice_8)

slice_9 = my_list[: -3]
print(slice_9)

slice_10 = my_list[ : : -1]
print(slice_10)

[9, 10]
[1, 2, 3, 4, 5, 6, 7]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Maths Operators
## Arithmetic Operators

In [76]:
print(10+4)
print(10-4)
print(10*4)
print(10/4)
print(10**4)
print(5%4)

14
6
40
2.5
10000
1

## Comparison/Logical Operators >, < ,>=, <=, ==, !=

In [79]:
print(5>3)
print(5 >= 3)
print(5 != 5)
print(5 == 5)

True
True
False
True

## Equality Operators  == , !=

In [80]:
10 == 20

False

In [81]:
10!= 20

True

In [82]:
10 == True

False

In [83]:
False == False

True

In [84]:
'Durga'  == 'Durga'

True

In [85]:
10 == 'Durga'

False

# Logical Operators -AND, OR, NOT

In [87]:
#LOGICAL AND OPERATOR

a = 10
b = 20
if a > 0 and b > 0:
    print('Both a and b are greater than 0')
else:
    print('Not greater than 0')

Both a and b are greater than 0

In [88]:
# LOGICAL OR OPERTAOR

a = 10
b = -5
if a > 0 or b > 0:
    print('Either a or b is greater than 0')

Either a or b is greater than 0

In [93]:
# LOGICAL NOT OPERATOR
a = True
if not a:
        print(' a is False')
else :
        print('a is True')

a is True

## Bitwise Operators - &,|,^, ~, <<, >>
<< Left shift : shifts the number to the left by the specified number of positions.
The leftmost bits are filled with zeroes.


##>> Right Shift : shifts the number to the right by the specified number of positions .

The rightmost bits are filled with zeroes for non negative numbers and  with ones for negative numbers.

In [95]:
# Bitwise AND

a = 12 #1100 in binary
b =7  # 0111 in binary
result = a & b
print(result)

4

In [96]:
#Bitwise OR

a =12  #1100 in binary
b = 7 # 0111 in binary
res = a | b #1111 
print(res)

15

In [97]:
#Biwise XOR

a = 12
b = 7
result = a ^ b
print(result)

11

In [99]:
# BITWISE NOT
a = 12 #1100
result = ~a
print(result)
#1100 in binary

-13

In [101]:
# Left Shift
a = 5
result = a<< 2 #010100 in binary
print(result)

20

In [102]:
a = 13
result = a >> 2
print(result)

3

# Assignment operators +=, -=, *=

In [103]:
x = 10
print(x)

10

In [105]:
x += 5
print(x)

15

In [106]:
x -= 3
print(x)

12

In [107]:
x *= 2
print(x)

24

In [108]:
x /= 4
print(x)

6.0

In [109]:
x %= 3
print(x)

0.0

In [110]:
x **= 2
print(x)

0.0

In [111]:
a = 5
a += 3
print(a)

b=5
b -=  3
print(b)

c = 5
c*= 3
print(c)
d =5
d /= 3
print(d)

8
2
15
1.6666666666666667

In [1]:
#Comparison operators

x= 5
y = 10
print(x == y)
print(x!=y)
print(x > y)
print(x < y)
print(x >= y)
print(x<=y)

False
True
False
True
False
True

In [2]:
#Logical perators

a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [3]:
#Bitwise operators

x = 10
y = 7

print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 2)
print(x >> 2)

2
15
13
-11
40
2